.App {
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background: none;
    border: 1px solid #7f8ff4;
    padding: 10px 10px;
    border-radius: 14px;
    color: coral;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
}
button:hover{
    background: #e60073;
    color: coral;
}
.card-grid{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(10,7rem);
    grid-gap: 20px;

}
